<table style="width:100%">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Profesyonel Faal Lisans</th>
        <th>Amator Faal Lisans</th>
    </tr>
    {{#each result}}
    <tr {{#ifCond this.A this.P}}bgcolor="ff00000" {{else}}bgcolor="00ff00" {{/ifCond}}>
        <td>{{this.ad}}</td>
        <td>{{this.soyad}}</td>
        <td> {{varyok this.P}}</td>
        <td> {{varyok this.A }}</td>
    </tr>
    {{/each}}
</table>